
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

.resume-body{
    font-size: 12pt;
    font-family: "Droid Sans";
    padding: 0;

}
.resume-sub-section{
    padding: 1em;
}

.resume-sub-section .heading{
    font-size: 14pt;
    font-weight: bold;
}

.resume-sub-section .add-button{
    cursor: pointer;
}

#sidebar-section{
    padding-top: 1em;
    background-color: rgb(247, 247, 247);
}
.user-name{
    font-size: 20pt;
    font-weight: bold;
}
.user-profile{
    font-size: 12pt;    
}
.profile-summary{
    margin-top: 0.5em;
}


.labelled-info{
    margin: 0.3em;
    font-size: 11pt;
    display: inline-block;
}
.labelled-info .label-ld{
    padding: 0.3em;
    display: inline;
    font-weight: bold;
}
.labelled-info .info{
    padding: 0.3em;
    display: inline;
}



.labelled-desc {
    margin: 0.5em;
}

.labelled-desc .label-ld{
    font-weight: bold;
    display: inline;    

}
.labelled-desc .desc{
    font-size: 11pt;
}
.labelled-desc .timeframe{
    display: inline;
    font-size: 11pt;
    padding-left: 1em;
    font-style: oblique;
}
.labelled-desc .sub-label{
    font-size: 11pt;
}


.skill-section{
    display: inline;
}
.skill-section .skill-item{
    display: inline-block;
    padding: 0.3em;
    margin: 0.2em;
    font-size: 11pt;
    border: 1px solid black;
    border-radius: 0.5em;
}


/* For the editor */
.heading-edit{
    display: flex;
    justify-content: space-between;
}

.heading-edit .button{
    padding-left: 1em;
}
.heading-edit input{
    outline: none;
    border: none;
    border-bottom: 1px dashed black;
}
.heading-edit .dropdowns {
    align-items: flex-end;
    margin: 1em;
    margin-left: 0;
    padding: 0;
}
.subsection-form {
    padding: 1em;

    border: 1px dashed black;
    margin: 0.5em;
}

.heading-edit .button{
    cursor: pointer;
}


/* Contact mapping */
.contact-map-editor {
    width: 80%;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
}
.contact-map-editor .button{
    cursor: pointer;
}