@font-face {
    font-family: "century-gothic";
    src: url("./911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf");
}

body{
    size: A4;
    font-family: century-gothic;
    max-height: 7016px;
    margin: 0;
    /* background-color: grey; */
}


#main-container
{
    /* Remove the margine left before creating pdf */
    height: 100%;
    width: 100%;
    margin: 0;
    
    /* margin-left: 20%;    
    height:29.7cm;
    width:21cm; */

    display: -webkit-box;
    display: flex;
    overflow: hidden;

}
/*  -------------------- START: Sidebar --------------------*/
#sidebar
{
    display: block;
    height: 100%;
    width: 33%;
    color:white;
    background-color:#1a409a;
    padding: 0;
}

#name
{
    padding: 10px;
    color: white;
    font-size: 3em;
    font-style: bold;
    width: 100%;
}
#firstname
{
    font-weight: bold;
}
#lastname
{
    font-weight: bold;
}
#designation
{
    font-size: 14pt;
}


.sidebar-section-header
{
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16pt;
    background-color: #00174e;
    font-weight: bold;

}

.sidebar-section-label
{
    padding-left: 10px;
    font-size: 14pt;
    font-weight: bold;
}

.sidebar-section-value
{
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 14pt;
    overflow: auto;
}

.skill-bar
{
    background-color: #00174e;
    height: 8pt;
    
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.skill-bar > div
{
    background-color: white;
    height: inherit;
}

/*  -------------------- END: Sidebar --------------------*/

/*  -------------------- START: Content section --------------------*/
#content-section
{
    height: 100%;
    width: 66%;
    padding: 20px;
    background-color: white;
    display: block;
}
#profile-summary
{
    font-size: 14pt;
}

.content-section-header
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20pt;
    border-top: 1pt solid rgb(189, 189, 189);
    border-bottom: 1pt solid  rgb(189, 189, 189);

}

.content-details
{
    display: -webkit-box;
    display: flex;
    margin-bottom: 15px;

}
.timeframe
{
    width: 20%;
}
.workdetails
{
    width: 80%;
    padding-left: 10px;
}
.job-profile
{
    font-size: 16pt;
    font-weight: bold;
}
.job-company
{
    font-style: italic;
}
.job-bullet
{
    font-size: 14pt;
}
/*  -------------------- END: Content section --------------------*/

