.section-content{
    width: 100%;
    padding: 0.5em;
    font-size: 10pt;
}

.section-content input{
    outline: none;
    border: none;
}
.section-content .label{
    margin: 0.3em;
    padding-left: 0.3em;
    /* border-left: 5px solid #377c39; */
    /* background-color: #afafaf; */
    font-weight: bold;
    font-size: 11pt;
}
.section-content .value{
    margin: 0.3em;
    /* border-left: 5px solid #000000; */
    padding-left: 0.3em;
    /* background-color: #e2dfdf; */
    border-bottom: 1px dashed #163117;

}

.delete-button{
    /* background-color: #8cca8e; */
    padding: 1em;
    cursor: pointer;
    /* border-bottom: 1px dashed #163117; */
}


/*  ---- Job profile component ---- */
.job-profile {
    margin: 0.3em;
    padding: 0.3em;
}
.job-profile .profile-name{
    font-size: 14pt;
    font-weight: bold;

}
.job-profile .profile-name svg{
    margin-left: 1em;
    cursor: pointer;
}
.job-profile .company-name{
    display: inline;
    margin: 0.3em;
    font-size: 11pt;
    font-style: italic;
}
.job-profile .location{
    margin: 0.3em;
    padding-left: 0.4em;
    border-left: 1px solid rgb(83, 83, 83);
}

.job-profile .timeframe{
    margin: 0.3em;
}
.job-profile .timeframe span{
    padding: 1em;
    padding-left: 0;
}
.job-profile .is-present{
    margin: 0.3em;
}

.is-present .form-check-input{
    position: relative;
    margin: 0em;
    margin-left: 0.5em;
}

.job-profile input {
    border-left: None;
    border-bottom: 1px dashed black; 
}

.job-profile textarea{
    resize: both;
    overflow: auto;
    width: 120%;
    height: 200pt;
}

.job-profile .textarea-label{
    display: block;
    margin-top: 1em;
}

.job-profile .keywords{
    display: flex;
    padding: 1em;
    padding-left: 0;
}
.keywords .keyword-item{
    display: inline-block;
    padding: 0.5em;
    margin: 0.3em;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 8pt;
    font-style: italic;
}

/* -------- Collapable ------ */
.collapsable {
    padding: 0.5em;
    /* background-color: green; */
    border-bottom: 1px solid rgb(116, 116, 116);
}
.collapsable .heading{
    font-size: 11pt;
    font-weight: bold;
}
.collapsable .close-button{
    margin: 1em;
    padding: 0.3em;
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    border-radius: 20%; 
}

/* ---- Summary buttons ---- */
.summary-buttons {
    padding: 1em;
}
.summary-text{
    cursor: pointer;
}
.summary-text:hover {
    text-decoration: dashed;
}