@import url(https://fonts.googleapis.com/css?family=Montserrat:300);

body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
#login-page {  
  width: 100%;
  padding: 4vw;
  padding-top: 15vw;
  /* background-color: blue; */
}
#login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  padding: 2em;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#login-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#login-form button:hover,#login-form button:active,#login-form button:focus {
  background: #43A047;
}
#login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
#login-form .message a {
  color: #4CAF50;
  text-decoration: none;
}
#login-form .register-form {
  display: none;
}





#login-content {
  width: 100%;
  height: 100vh;
  background-color: green;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}